@model ClassesDAO.PRATO

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>PRATO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RESTAURANTE.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESTAURANTE.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGENS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGENS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CODIGO }) |
    @Html.ActionLink("Voltar", "Index")
</p>
